#fotoslider img {
  position: absolute;
    border-radius:25px;
    -moz-border-radius:25px; /* Old Firefox */
    display: block !important;
    width: 1100px !important;
margin: auto;
}

#fotoslider {
    width: 1100px;
    height: 330px;
    overflow: hidden;
    margin: auto;
}
